<h1>注文詳細画面</h1>

<%= label_tag :購入者 %>
<%= @order.member.full_name %><br>

<%= label_tag :配送先 %>
<%= @order.member.post_code %>
<%= @order.member.address %><br>
<%= @order.member.full_name %><br>

<%= label_tag :支払い方法 %>
<%= @order.payment_method %><br>

<%= label_tag :注文ステータス %>
<%= form_with model: @order, url: admin_order_path(@order), local: true do |f| %>
	<%= f.select :order_status, Order.order_statuses.keys %>
	<%= f.submit "更新" %>
<% end %>

<table>
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th>制作ステータス</th>
		</tr>
	</thead>

	<tbody>
		<% @order_products.each do |order_product| %>
			<tr>
				<td><%= order_product.name %></td>
				<td>
					<% @taxed_price = order_product.price.to_i  * 1.1 %>
					<%= @taxed_price.floor %>
				</td>
				<td><%= order_product.quantity %></td>
				<td>
					<% @total_price = @taxed_price * order_product.quantity %>
					<%= @total_price.floor %>
				</td>
				<td>
					<%= form_with model: order_product, url: admin_order_product_path(order_product), local: true do |f| %>
						<%= f.select :production_status, OrderProduct.production_statuses.keys %>
						<%= f.submit "更新" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>