<p>
	ようこそ、NaganoCakeへ！<br>
	このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧はできますが、<br>
	購入には会員登録が必要になります。
</p>

<h2>おすすめ商品</h2>

<% @products.each do |product| %>

	<%= link_to member_product_path(product) do %>
		<%= attachment_image_tag product, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
	<% end %>

	<%= product.name %>

	¥<%= product.price %>

<% end %>

<%= link_to 'もっとみる>', member_products_path %>