<h1>商品編集画面</h1>

<%= form_with model: @product, url: admin_product_path(@product), local: true do |f| %>
	<div>
		<%= f.label :商品画像 %>
		<%= f.attachment_field :image %>
	</div>

	<div>
		<%= f.label :商品名 %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :商品説明 %>
		<%= f.text_area :introduction %>
	</div>

  <div>
    <%= f.label :ジャンル %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  </div>

	<div>
		<%= f.label :税抜価格 %>
		<%= f.text_field :price %>円
	</div>

  <div>
    <%= f.label :販売ステータス %>
    <%= f.select :is_valid, [["出品中", true], ["売り切れ",false]] %>
  </div>

	<div>
		<%= f.submit "変更" %>
	</div>
<% end %>
